body{
    margin: 0;
    padding: 0;
}
.box{
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50px;
}

.container{
    height: 100vh;
    background-color: darkgoldenrod;
}

.container .sticky{
    position: sticky;
    background-color: brown;
    opacity: 0.8;
}

.container .fixed{
    position: fixed;
    background-color: darkblue;
    left: 400px;
}

section p{
    /* position: absolute; */
    width: 50%;
    margin: 30px auto;

}